target/
!target/*.jar
# Don't ignore Maven wrapper files - they are needed for build
# .mvn/wrapper/maven-wrapper.jar
# .mvn/wrapper/maven-wrapper.properties
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
